.button{
	background-color: #252526;
	border: 3px solid grey;
	padding: 15px;
}
.icono{
	font-size: 4em;
}
.borde{
	border-left: 5px solid #cecece;
}
.caja{
	margin: 0 auto 0 auto;
}

a{
	text-decoration: none;
	color: white;
}


.hola{
	font-size: 5em;
	font-family: initial;
	animation: hola 2s;
}

@keyframes hola{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.soy{
	font-size: 5em;
	animation: soy 2s;
}

@keyframes soy{
	0%{
		font-size: 1em;
	}
	100%{
		font-size: 5em;
	}
}

.desarrollador{
	font-size: 4em;
	animation: hola 2s;
}

.dev{
	color: #787878;
}

.p1::before{
	font-family: cursive;
	color:yellow;
	content: "<p>";
}
.p2::before{
	font-family: cursive;
	color:yellow;
	content: "</p>";
}

.imagen > img{
	background: white;
}

.cea{
	display: flex;
}
.cea > img{
	height: 300px;
}